@model IEnumerable<SelectListItem>
@{
    ViewData["Title"] = "Home Page";
}

<select name="WebJobSettingName" id="WebJobSettingName" asp-items="Model" class="form-select">
    <option>Please Choose WebJob Setting</option>
</select>

<div id="WebJobList"></div>

<input type="hidden" id="WebjobListUrl" value="@Url.RouteUrl("WebJobs")" />